@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&family=League+Spartan:wght@300;400&family=Nunito:wght@300;500;700;900&family=Poppins:wght@300;500&family=Raleway:wght@100;400;600&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


body{
    font-family: 'Inter', sans-serif;
}

:root{
    --index: calc(1vh + 1vw);
    --text-color: #fafafa;
    --h1-size: 61px;
    --h1-weight: 900;
    --h2-size: 52px;
    --h2-weight: 700;
    --h3-size: 43px;
    --h3-weight: 500;
    --main-text: 25px;
    --main-text-weight: 300;

    --tablet-h1-size: 50px;
    --tablet-h2-size: 42px;
    --tablet-h3-size: 35px;
    --tablet-main-text: 20px;
    
    --mobail-h1-size: 40px;
    --mobail-h2-size: 33px;
    --mobail-h3-size: 28px;
    --mobail-main-text: 16px;

}

.container{
    padding: 0 calc(var(--index) * 8);
}
header{
    position: relative;
}
.header{
    padding-top: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
}

.promo{
    height: 100vh;
    color: var(--text-color); 
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.promo:before {
    content: '';
    background-image: url('img/bg/1_original.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hamburger-lines {
    height: 25px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.hamburger-lines__nav{
    position: absolute;
    top: 5vh;
    right: 50px;
}
.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    background: var(--text-color);
}
.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.line1-active{
    transform: rotate(45deg);
}
.line2-active {
    transform: scaleY(0);
}
.line3-active {
    transform: rotate(-45deg);
}
.call{
    font-size: var(--main-text);
    font-weight: var(--main-text-weight); 
}
.call__title{
    color: var(--text-color);
}

.header__call_phone{
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.5s;
    line-height: 2em;
    padding-left: 22.5%;
   
}
.header__call_phone:hover{
    text-shadow: 1.1em 1.1em 3px #a74934;
}

.nav__menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 35vw;
    margin: 0;
}

.menu__link{
    color: var(--text-color);
    font-size: var(--main-text);
    font-weight: var(--main-text-weight);
    transition: all 0.5s;
    text-decoration: none;
}
.menu__link:hover{
    text-shadow: 1.1em 1.1em 3px #a74934;
}

.promo__title{
    font-size: var(--h1-size);
}
.promo__subtitle{
    font-size: var(--h2-size);
}

.promo_btn{
    margin: 8vh 0 0 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 0.5em;
    font-size: var(--main-text);
    font-weight: var(--main-text-weight);
    letter-spacing: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.promo_btn:hover{
    box-shadow: 5px 5px 25px #a74934;
}
.reason{
    background-color: #fafafa;
    padding: 10vh 0;
    
}
.reason__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reason__item{
    max-width: 300px;
    text-align: center;    
}
.reason__item:nth-child(3n){
    padding: 0;
}


.reason__title{
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
    text-align: center;
    margin: 0 0 50px 0;
}
.reason__subtitle{
    font-weight: var(--h3-weight);
    font-size: var(--h3-size);
    margin: 20px 0;
    text-align: center;
}
.reason__descr{
    font-weight: var(--main-text-weight);
    font-size: var(--main-text);
    text-align: center;
}
.reason__img__position{
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
.reason__img{
    width: 25%
}
.services{
    background: url('img/bg/serv_1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
    padding: 10vh 0;
}

.services__title{
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
    text-align: center;
    margin: 0;
}
.services__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__item{
    max-width: 400px;
    padding: 0 25px 0 0;
    margin-top: 50px;
    text-align: center;    
}
.services__item:nth-child(3n){
    padding: 0;
}
.services__subtitle{
    font-weight: var(--h3-weight);
    font-size: var(--h3-size);
    margin: 20px 0;
}
.services__descr{
    font-weight: var(--main-text-weight);
    font-size: var(--main-text);
}
.services__img{
    width: 25%
}


.footer{
    text-align: center;
    padding: 10vh 0;
    background-color: #fafafa;
}

.footer__title{
    font-weight: var(--h2-weight);
    font-size: var(--h2-size);
    margin: 0;
}
.footer__btn{
    margin: 50px 0 0 0;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 0.5em;
    font-size: var(--main-text);
    font-weight: var(--main-text-weight);
    letter-spacing: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.footer__btn:hover{
    box-shadow: 5px 5px 25px #a74934;
}
.footer__wrapper{
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    list-style-type: none;
    padding: 0;
}
.footer__img{
    width: 25%;
    margin: 50px 0 0 0;
    transition: all 0.5s;
}
.footer__img:hover{
    filter: drop-shadow(10px 10px 3px rgba(167, 73, 52, 0.95));
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}
.modal__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__content {
    min-width: 210px;
    padding: 40px 50px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 50px;
    color: #000 ;
    font-weight: var(--main-text-weight);
    cursor: pointer
}

.modal__title {
    text-align: center;
    font-weight: var(--h2-weight);
    font-size: var(--main-text);
    max-width: 350px;
    margin: 0 auto; 
}

.modal__input {
    display: block;
    margin: 25px auto 25px auto;
    max-width: 280px;
    height: 55px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .3);
    border: none;
    font-size: var(--main-text);
    font-weight: var(--main-text-weight);
    text-align: center;
    padding: 0 20px;
    
}

.modal__btn{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 0.5em;
    font-size: var(--main-text);
    font-weight: var(--main-text-weight);
    letter-spacing: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;

}

@media screen and (max-width: 1350px){
    .hamburger-lines{
        display: flex;
    }
    .nav__menu{
        position: fixed;
        top: 0%;
        right: -100%;
        width: 300px;
        height: 100vh;
        transition: all 0.5s;
        background-color: rgba(0,0,0,.8);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    .reason__wrapper{
        flex-direction: column;
    }
    .reason__title{
        margin: 0;
    }
    .reason__item{
        padding: 50px 0 0 0;
        margin: 0 auto;
    }
    .reason__item:nth-child(3n){
        padding: 50px 0 0 0;
    }
    .services__wrapper{
        margin: 0 auto;
    }
    .services__item{
        padding: 50px 0 0 0;
        margin: 0 auto;
    }
    .services__item:nth-child(3n){
        padding: 50px 0 0 0;
    }

}
@media screen and (max-width: 991px){
    .promo:before {
        background-image: url('img/bg/1_original_1920.webp');
        position: absolute;
    }
    .hamburger-lines {
        height: 15px;
        width: 20px;
    }
    .hamburger-lines .line {
        height: 2px;
    }
    .container{
        padding: 0 5vw;
    }
    .promo__wrapper{
        width: 90%;
    }
    .menu__link{
        font-size: var(--tablet-main-text);
    }
    .call{
        font-size: var(--tablet-main-text);
    }
    .promo__descr{
        padding: 15vh 0;
    }
    .promo__title span{
        display: none;
    }
    .promo__title{
        font-size: var(--tablet-h1-size);
    }
    
    .promo__subtitle{
        font-size: var(--tablet-h2-size);
    }
    .promo_btn{
        font-size: var(--tablet-main-text);
    }
    
    .reason__title{
        font-size: var(--tablet-h2-size);
    }
    .reason__subtitle{
        font-size: var(--tablet-h3-size);
    }
    .reason__descr{
        font-size: var(--tablet-main-text);
    }
    .services__title{
        font-size: var(--tablet-h2-size);
    }
    .services__subtitle{
        font-size: var(--tablet-h3-size);
    }
    .services__descr{
        font-size: var(--tablet-main-text);
    }
    .footer__title{
        font-size: var(--tablet-h2-size);
    }
    .footer__btn{
        font-size: var(--tablet-main-text);
    }
    .footer__wrapper{
        max-width: 375px;
    }
    .modal__content {
        padding: 30px 40px;
    }
    .modal__close { 
        font-size: 30px;
    }
    .modal__title {
        font-size: var(--tablet-main-text);
        min-width: 260px;
    }
    .modal__input {
        font-size: var(--tablet-main-text);
        height: 40px;
        padding: 0;
    }
    .modal__btn{
        font-size: var(--tablet-main-text);
    }

}
@media screen and (max-width: 576px){
    .menu__link{
        font-size: var(--mobail-main-text);
    }
    .call{
        font-size: var(--mobail-main-text);
        width: 150px;
        text-align: center;
    }
    .header__call_phone{
        padding: 0;
    }
    .promo__title{
        font-size: var(--mobail-h1-size);
    }
    
    .promo__subtitle{
        font-size: var(--mobail-h2-size);
    }
    .promo_btn{
        font-size: var(--mobail-main-text);
    }
    .reason__title{
        font-size: var(--mobail-h2-size);
    }
    .reason__subtitle{
        font-size: var(--mobail-h3-size);
    }
    .reason__descr{
        font-size: var(--mobail-main-text);
    }
    .services__title{
        font-size: var(--mobail-h2-size);
    }
    .services__subtitle{
        font-size: var(--mobail-h3-size);
    }
    .services__descr{
        font-size: var(--mobail-main-text);
    }
    .footer__title{
        font-size: var(--mobail-h2-size);
    }
    .footer__btn{
        font-size: var(--mobail-main-text);
    }
    .footer__wrapper{
        max-width: 335px;
    }
    .modal__title {
        font-size: var(--mobail-main-text);
        min-width: 210px;
    }
    .modal__input {
        font-size: var(--mobail-main-text);
        padding: 0;
    }
    .modal__btn{
        font-size: var(--mobail-main-text);
    }
}
@media screen and (max-height: 650px){
    .promo__descr{
        padding: 8vh 0;
    }
}
@media screen and (max-height: 565px){
    .promo_btn{
        display: none;
    }
}
@media screen and (max-height: 370px){
    .call{
        font-size: 15px;
    }
}
.show{
    display: block
}
.show-humburger{
    right: 0;
}

.scroll-item{
    opacity: 0;
    transform: translateY(50px);
    transition: .5s all;
}
.animation-class{
    opacity: 1;
    transform: translateY(0);
}